body {
    font-family: Arial, sans-serif;
}

table {
    width: 40%;

    border: 3px double black;
    height: 30vw;



}

table, th, td {
    border: 2px double black;
}

th, td {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

img {
    display: block;
    margin: 0 auto;
}
