<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="../assets/css/contact_us.css">
</head>
<body>
    <div class="contact-container">
        <div class="contact-left">

            <h2>Contact Us</h2>
            <p>Or reach out manually to <a href="mailto:uifresh.net@gmail.com">uifresh.net@gmail.com</a></p>
            <div class="image-container">
                <img src="../assets/images/images.jpg" alt="Paper Airplane">
            </div>
        </div>

        <div class="contact-right">
            <form action="#" method="POST">
                <div class="input-group">
                    <label for="email">Email address</label>
                    <input type="email" id="email" name="email" required>
                    <small style="color: #a996d8">We'll never share your email with anyone else.</small>
                </div>

                <div class="input-group">
                    <label for="name">Your name</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="input-group">
                    <label for="message">Your message</label>
                  <textarea id="message" name="message" cols="18" required></textarea>

                </div>

                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>
</body>
</html>