<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
  <link rel="stylesheet" href="../assets/css/table.css">
</head>
<body>
<body>
    <table>
        <thead>
            <tr>
                <th>Preview</th>
                <th>Type</th>
                <th>Processor</th>
                <th>Graph. card</th>
                <th>In stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="../assets/images/laptop.jpg" width="100px"></td>
                <td>ABBAC9</td>
                <td>Intel Atom</td>
                <td>Nvidia</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td><img src="../assets/images/laptop1.png" alt="Laptop 2" width="100px"></td>
                <td>GS8DGF</td>
                <td>AMD</td>
                <td>ATI</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td><img src="../assets/images/laptop2.png" alt="Laptop 3" width="100px"></td>
                <td>KG1862A</td>
                <td>No info</td>
                <td>No info</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>
</body>
</body>
</html>